body {
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.think {
  text-align: center;
}
h1 {
  font-size: 40px;
}
button {
  font-size: 22px;
  padding: 12px 26px;
}
p {
  font-size: 28px;
  margin-top: 20px;
}